@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*-------------HEADER------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    max-width: 100% !important;
}


.barra {
    background-color: #000000;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.barra img {
    height: 5.25rem;
    width: 10.5rem;
}


.titulo {
    height: 13rem;
    background-color: #95e75f;
    display: flex;
    align-items: end;
    justify-content: center;
}

.titulo h1{
    font-size: 5rem;
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}

.navbar-nav{
    background-color: black;
}

.navbar-nav .nav-link {
    margin: 0 1.25rem; 
    color: white !important; 
    padding: 0.3rem 1rem; 
    text-align: center;
  }
/*----------------------------------------------------------------------INDEX MAIN---------------------------------------------*/

.background{
    background-image: url(../img/background.jpeg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1; 
}


.definicion {
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 6.25rem;
    background-image: url(https://img.freepik.com/fotos-premium/gimnasio-oscuro-luces-rojas-fondo-negro_876956-1224.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
}

.que-es {
    margin: 3.1rem 2.5rem;
    padding-right: 1.9rem;
    width: 45%;
}

.que-es h2 {
    font-size: 4.5rem;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.que-es h3 {
    font-size: 3.5rem;
    color: #d3ff10;
}

.que-es p {
    font-size: 1.9rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.a-quien {
    margin: 3.1rem 0;
    padding-right: 1.9rem;
    width: 45%;
}

.a-quien h2 {
    font-size: 4.5rem;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.a-quien p {
    margin: 0.9rem 1.9rem;
    font-size: 1.9rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/*---------------------------------------------------------------SECCION PROGRAMAS index----------------------------------------------*/

.programas{
    margin: 1.9rem;
    background-image: url(../img/programas-bckg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;

}


.programas h2{
    padding-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: #5eff1e;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.programas1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.personalizados img{
    width: 80%;
    height: 65%;
}

.personalizados h3{
    color: #c1ff0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.deportivos img{
    width: 80%;
    height: 65%;
}

.deportivos h3{
    color: #c1ff0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.programas2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.lesiones img{
    width: 80%;
    height: 65%;
}

.lesiones h3{
    color: #c1ff0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.fisio img{
    width: 80%;
    height: 65%;
}

.fisio h3{
    color: #c1ff0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.programas-flex{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

/*------------------------------------------------------------------SECCION NOVEDADES INDEX------------------------------------------------------*/

.novedades {

    height: 24.4rem;
    background-image: url(https://us.123rf.com/450wm/naropano/naropano1606/naropano160600509/58727522-textura-de-fondo-oscuro-en-blanco-para-el-dise%C3%B1o-bordes-oscuros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.novedades h2{
    padding-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: #5eff1e;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div-novedades {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.suplementacion {
    border: #000000 4px solid;
    padding: 0.9rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suplementacion img {
    width: 77%;
    height: 65%;
}

.suplementacion h3 {
    padding-top: 1.25rem;
    color: rgb(243, 255, 7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.psicologia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #000000 4px solid;
    padding: 0.9rem;
    border-radius: 1rem;
}

.psicologia img {
    width: 95%;
    height: 65%;
}

.psicologia h3 {
    padding-top: 1.25rem;
    color: rgb(243, 255, 7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.curso-padel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #000000 4px solid;
    padding: 0.9rem;
    border-radius: 1rem;
}

.curso-padel img {
    width: 95%;
    height: 65%;
}

.curso-padel h3 {
    padding-top: 1.25rem;
    color: rgb(243, 255, 7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




/*--------------------------------------------------------PAGINA PROGRAMAS------------------------------------------------------------------------*/
.grid-proyectos {
    width: 100%;
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.25rem;

}

.item {
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;

}

.item img {
    box-shadow: 5px 5px 5px black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item h3{
    color: rgb(255 214 0);
    font-size: 2.5rem;
    border: none;
    text-shadow: 1px 1px 1px;
}

.item p{
    color: white;
    font-size: 1.25rem;
    border: none;
}

.grid-texto{
    background: #181515;
    opacity: 0.8;
    border-radius: 2rem;
    z-index: -1;
}





/*----------------------------------------------PAGINA NUTRICION-------------------------------------------------------------------------*/

.nutricion-definicion {
    margin-top: 1.9rem;
}

.nutricion-definicion img {
    padding: 1.25rem;
    width: 100%;
}

.nutricion-definicion p {
    color: white;
    font-size: 2rem;
    background: #181515;
    opacity: 0.8;
    z-index: -2;
}

.nuestros-servicios h2 {
    padding-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: #5eff1e;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.carousel {
    width: 66%;
    margin: 50px auto;
  }

  .carousel-item img {
    max-width: 100%; 
    height: 500px; 
    object-fit: cover;
  }

  .carousel-caption h5 {
    color: #000000;
    font-size: 2rem;
    text-shadow: 1px 1px;
}




/*---------------------------------------------PAGINA NOSOTROS---------------------------------*/

.biografia1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.biografia1 img {
    height: 29rem;
    border-radius: 6rem;

}

.biografia1 p {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    opacity: 0.8;
    border-radius: 1rem;
}

.biografia2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.biografia2 img {
    height: 28rem;
    border-radius: 6rem;

}

.biografia2 p {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    opacity: 0.8;
    border-radius: 1rem;
}

.biografia3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.biografia3 iframe {
    margin-bottom: 2rem;
}

.biografia3 p {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    opacity: 0.8;
    border-radius: 1rem;
}

/*-------------------------------------------------PAGINA CONTACTO---------------------------------------------------------*/

.contactanos p{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: black;
    opacity: 0.8;
}


.formulario {
    margin: 2rem 10rem;
}

.formulario label {
    color: white;
}




/*--------------------------------------------------------FOOTER--------------------------------------------------------*/

.footer {
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}


.footer1 h4 {
    color: whitesmoke;
    margin-left: 1.25rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer2 {
    margin-right: 5rem;
}

.footer2 img {
    width: 3.2rem;
}

.icono{
    font-size: 30px;
    color: white;
    padding: 10px;
}




/* ----------------------------------------------------------MEDIA QUERIES -------------------------------------------------------------*/

@media (max-width: 1056px) {
    .novedades {
        height: 42rem;
    }

    .biografia1 p, .biografia2 p, .biografia3 p {
        font-size: 1.5rem;
    }
}

@media (max-width: 990px) {
    .definicion h2{
        font-size: 3.5rem;
    }

    .definicion h3{
        font-size: 2.5rem;
    }

    .definicion p{
        font-size: 1.6rem;
    }

    .definicion div{
        width: 40%;
    }

    .item img {
        height: 75%;
    }

    .item h3 {
        font-size: 2rem;
    }

    .item p {
        font-size: 1.1rem;
    }

    .biografia1 img, .biografia2 img {
    height: 20rem;
    }
}

@media (max-width: 770px){
    .definicion h2{
        font-size: 2.5rem;
    }

    .definicion h3{
        font-size: 2rem;
    }

    .definicion p{
        font-size: 1.3rem;
    }

    .programas h3{
        font-size: 1.2rem;
    }

    .titulo h1{
        font-size: 4rem;
    }

    .div-novedades h3{
        font-size: 1.2rem;
    }

    .nutricion-definicion p {
        font-size: 1.5rem;
    }
    

    .suplementacion img {
        width: 87%;
    }

    .footer h4{
        font-size: 1rem;
    }

    .icono{
        font-size: 25px;
    }

    .item img {
        height: 60%;
    }

    .item p {
        font-size: 0.9rem;
    }

    .item h3 {
        font-size: 1.5rem;
    }



    .carousel-caption h5 {
        font-size: 1.8rem; 
      }

      .biografia1 p, .biografia2 p, .biografia3 p {
        font-size: 1rem;
    }

    .biografia1 img, .biografia2 img {
        height: 15rem;
    }

    .formulario {
        margin: 2rem 5rem;
    }


}

@media (max-width: 695px){

    .titulo {
        height: 11rem;
    }

    .titulo h1 {
        font-size: 3.5rem;
    }

    .div-novedades {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .novedades {
        height: 60rem;
    }

    .programas h2 {
        font-size: 2rem;
        margin-top: 20px;
    }

    .suplementacion img {
        width: 100%;
        padding: 0 12px;
    }

    .novedades h2 {
        font-size: 2rem;
        margin-top: 20px;
    }

    .carousel-item img {
        height: 400px;
    }
}

@media (max-width: 600px){

    .titulo h1 {
        font-size: 3rem;
    }

    .definicion div{
        flex-direction: column;
        width: 100%;
    }

    .a-quien h2{
        padding-left: 30px;
    }

    .programas1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .programas2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .programas img{
        width: 100%;
    }

    .programas-flex {
        margin: 30px 0;
        width: 70%;
    }

    .biografia1 p, .biografia2 p, .biografia3 p {
        font-size: 0.8rem;
    }

    .biografia1 img, .biografia2 img {
        height: 11rem;
    }

    .contactanos p {
        font-size: 1.5rem;
    }

    .footer h4 {
        font-size: 0.9rem;
    }

    .footer2 {
        margin-right: 2rem;
    }

    .icono{
        font-size: 20px;
    }

    .item img {
        height: 50%;
    }

    .item h3 {
        font-size: 1.25rem;
    }

}

@media (max-width: 520px){
    .titulo {
        height: 10rem;
    }

    .grid-col1{
        display: none;
    }

    .grid-col3{
        grid-column: span 2;
    }

    .grid-texto{
        width: 100%;
    }

    .carousel-item img {
        height: 400px;
    }

    .formulario {
        margin: 2rem 2rem;
    }

    .contactanos p {
        font-size: 1.3rem;
    }

}


@media (max-width: 500px){
    .titulo h1 {
        font-size: 2.5rem;
    }

    .definicion h2 {
        font-size: 2rem;
    }

    .definicion h3 {
        font-size: 1.5rem;
    }

    .programas h3 {
        font-size: 1rem;
    }

}


@media (max-width: 450px){

    
    .biografia1 {
        flex-direction: column-reverse;
    }

    .biografia2 {
        flex-direction: column;
    }

}

@media (max-width:400px){

    .titulo h1 {
        font-size: 2rem;
    }

    .definicion h2 {
        font-size: 1.8rem;
    }

    .definicion p {
        font-size: 1rem;
    }


    .programas {
        margin: 0.9rem;
    }


    .novedades {
        height: 50rem;
    }

    .suplementacion img {
        width: 75%;
        padding: 0;
    }

    .psicologia img {
        width: 75%;
        padding-top: 0.9rem;

    }

    .psicologia {
        padding: 0;
    }

    .curso-padel img {
        width: 75%;
        padding-top: 0.9rem;

    }

    .curso-padel {
        padding: 0;
    }

    .nutricion-definicion p {
        font-size: 1rem;
    }

    .carousel-item img {
        height: 250px;
    }

    .contactanos p {
        font-size: 1.1rem;
    }

    .formulario {
        margin: 2rem 1rem;
    }



    .footer2 {
        margin-right: 0rem;
    }

    .footer h4 {
        font-size: 0.8rem;
    }

    .icono {
        font-size: 13px;
    }

    .grid-texto {
        width: 85%;
    }

    .item h3 {
        font-size: 1.2rem;
    }

    .item p {
        font-size: 0.8rem;
    }

}


