.biografia1{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;
    p{
        font-size: 2rem;
        padding: 0 1rem;
        color: white;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background: black;
        opacity: 0.8;
        border-radius: 1rem;
    }
    img{
        margin: 0 1rem;
        height: 29rem;
        border-radius: 6rem;
    }
}

.biografia2{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;
    p{
        font-size: 2rem;
        padding: 0 1rem;
        color: white;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background: black;
        opacity: 0.8;
        border-radius: 1rem;
    }
    img{
        margin: 0 1rem;
        height: 28rem;
        border-radius: 6rem;
    }
}

.biografia3{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            flex-wrap: wrap;
    p{
        font-size: 2rem;
        padding: 0 1rem;
        color: white;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background: black;
        opacity: 0.8;
        border-radius: 1rem;
    }
    iframe{
        margin-bottom: 2rem;
    }
}